/* NO HAY NINGUN ESTILO INTRODUCIDO */
.tabla{
    -fx-padding: 10 10 10 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: blue;
}

/*  */
.botones{
    -fx-font-size: 16px;
}

/*  */
.label-status{
    -fx-font-size: 14px;
}